/*------------------------------------------------------------------
    ADD YOUR OWN STYLING HERE AVOID TO USE STYLE.CSS AND MAIN.CSS
	
	IT WILL BE HELPFUL FOR YOU IN FUTURE UPDATES
-------------------------------------------------------------------*/




.search-box {
    margin-bottom: 10px;
}

.logo img {
    width: 400px;
}

@media (max-width: 767px){
.ownmenu > li > a {
    padding: 10px 0;
    text-align: left;
    color: #ffffff !important;
}


.logo img {
    width: 250px;
}

.loader img {
    width: 250px;
}

}


footer .footer-logo a img {
    width: 275px;
}


.furniture .parallex-fur .overlay.banner {
	    padding: 60px 0 !important;
}

.parallex .btn.margin-top-20 {
	margin-top: 20px !important;
}


.android-size {
    font-size: 20px;
    padding: 0px 10px;
}

.close {
	opacity:0.7;
	font-size:24px;
	text-shadow: 0 1px 0 #000;
}

.close:focus, .close:hover {
    opacity: 1;
}

.gm-style-iw , .gm-style-iw > div , .gm-style-iw > div > div  {
    height: 310px !important;
	width: 350px !important;
}

div#map-content div#bodyContent {
    height: 20px !important;
}

.map-info .boxes-in {
	border : none;
	padding : 0px;
	min-height: 225px;
}

.map-info .boxes-in .location i {
	margin-right : 15px;
}

div#map-content {
	width: 330px;
}

.map-info h6 {
    padding-left: 5px;
    text-transform: uppercase;
	border-bottom: 1px solid #b5b5b5;
}

.boxes-in h6 {
	text-transform: uppercase;
}
